<div ng-controller="SearchDocumentCtrl as ctrl" class="search-document">
    <form class="content">
        <div class="input-group">
            <input id="authName" ng-model="ctrl.filter" type="text"  name="q" class="form-control" placeholder="Buscar endereço..."></input>
            <span class="input-group-btn">
                <button name="search" id="search-btn" class="btn btn-default"><i
                        class="fa fa-search"  ng-click="ctrl.getDocuments()"></i></button>
            </span>
        </div>
        <div ng-show="!ctrl.loading">
            <div ng-show="ctrl.data" class="count-doc">
                <b> Resultados encontrados, <span ng-bind="ctrl.data.length">.</span></b>
             </div>
         
             <ul class="example-animate-container list-doc">
                 <li class="animate-repeat" ng-repeat="ad in ctrl.data">
                     <span ng-bind="ad.address"></span>           
                 </li>
             </ul>     
        </div>
     
        <div>                   
            <img id="mySpinner" src="../../assets/imgs/spinner.gif" ng-show="ctrl.loading" class="loading-doc"/>
          </div>  
    </form>    
</div>

